/* CSS file to Minesweeper */

#frame {

    display: flex;
    justify-content: center;
    align-content: center;
    
}

#minefield {

    border: 2.5px solid rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    
    background-color: #9b9b9b;
    margin-left: 30px;
    margin-top: 25px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    -webkit-box-shadow: 22px 29px 0px 10px rgba(0,0,0,0.79);
    -moz-box-shadow: 22px 29px 0px 10px rgba(0,0,0,0.79);
    box-shadow: 22px 29px 0px 10px rgba(0,0,0,0.79);
}

.undiscovered   {

    border-left: 1px solid rgb(43, 18, 13);
    border-top: 1px solid rgb(43, 18, 13);
    border-right:1px solid #eeeeee;
    border-bottom: 1px solid #8b8b8b;
    width: 51.5px;
    height: 51.5px;

}

.discovered {

    width: 51.5px;
    height: 51.5px;
    display: flex;
    justify-content: center;


}

.explosion  {

    border: 0.5px dotted red;
    width: 51.5px;
    height: 51.5px;
    display: flex;
    justify-content: center;

}

.flagged  {
    
    border: 0.5px dotted red;
    width: 48px;
    height: 48px;

} 
img {
    background-color: white;
    width: 48px;
    height: 48px;
    align-self: center;
    padding: 1px;
}

