/* CSS file to Minesweeper */

#frame {

    display: flex;
    justify-content: center;
    align-content: center;
    
}

.minefield {

    border-right: 12px solid rgb(43, 18, 13);
    border-bottom: 12px solid rgb(43, 18, 13);
    border-left:12px solid #eeeeee;
    border-top: 12px solid #8b8b8b;
    width: 520px;
    height: 520px;
    
    background-color: #9b9b9b;
    margin-left: 30px;
    margin-top: 25px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    -webkit-box-shadow: 10px 10px 3px 2px rgba(41,39,39,0.84);
    -moz-box-shadow: 10px 10px 3px 2px rgba(41,39,39,0.84);
    box-shadow: 10px 10px 3px 2px rgba(41,39,39,0.84);
}

.undiscovered   {

    background-color: rgb(170, 170, 170);
    border-right: 2px solid rgb(43, 18, 13);
    border-bottom: 2px solid rgb(43, 18, 13);
    border-left:2px solid #eeeeee;
    border-top: 2px solid #8b8b8b;
    width: 51.5px;
    height: 51.5px;

}

.discovered {

    background-color: rgb(170, 170, 170);
    border-left: 2px dotted rgb(43, 18, 13);
    border-top: 2px dotted rgb(43, 18, 13);
    border-right:2px dotted #eeeeee;
    border-bottom: 2px dotted #8b8b8b;
    width: 51.5px;
    height: 51.5px;
    display: flex;
    justify-content: center;


}

.explosion  {

    border: 2px dotted red;
    width: 51.5px;
    height: 51.5px;
    
}

.flagged  {
    
    border: 2px dotted red;
    width: 48px;
    height: 48px;

} 
img {

    width: 48px;
    height: 48px;
    align-self: center;
    padding: 1px;
}

#One {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: blue;
    text-align: center;
    justify-content: center;
}

#Two {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: yellow;
    text-align: center;
    justify-content: center;

}

#Three {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: red;
    text-align: center;
    justify-content: center;

}
.undiscovered:hover {
    background-image: url(flag.png);
    background-size: 50px;
    background-repeat: no-repeat;
    justify-content: center;
  }

img:hover {
    background-color: red;
}

#One:hover {
    background-color: green;
    width: 48px;
    height: 48px;
    align-self: center;
    padding: 1px;
}

#Two:hover {
    background-color: green;
    width: 48px;
    height: 48px;
    align-self: center;
    padding: 1px;
}

#Three:hover {
    background-color: green;
    width: 48px;
    height: 48px;
    align-self: center;
    padding: 1px;
}