/* CSS file to Minesweeper */

#frame {

    display: flex;
    justify-content: center;
    align-content: center;
}
#minefield {

    border: 2px solid rgb(0, 0, 0);
    width: 500px;
    height: 500px;
    
    background-color: #b8b8b8;
    margin-left: 30px;
    margin-top: 25px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
}

.undiscovered   {

    border-left: 2px solid rgb(43, 18, 13);
    border-top: 2px solid rgb(43, 18, 13);
    border-right:2px solid #eeeeee;
    border-bottom: 2px solid #8b8b8b;
    width: 51.5px;
    height: 51.5px;
 
}

.discovered {

    border: 3px dotted rgb(43, 18, 13);
    width: 51.5px;
    height: 51.5px;

}

.explosion  {

    border: 3px solid red;
    width: 51.5px;
}